<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/jpeg" href="assets/images/tuevo.jpeg">
  <title>CV | Tue Vo</title>
  <link rel="stylesheet" href="styles/cv.style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/35d7e512c4.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="cv__container">

    <div class="cv">

      <div class="cv__left-col">

        <div class="cv__left-col__main-info">

          <div class="cv__left-col__main-info__avatar">
            <div class="cv__left-col__main-info__avatar__wallpaper">
              <div class="cv__left-col__main-info__avatar__wallpaper__cover"></div>
            </div>
            <div class="cv__left-col__main-info__avatar__image">
              <img src="assets/images/tuevo.jpeg" alt="">
            </div>
          </div>

          <div class="cv__left-col__main-info__profile cv__content-wrapper">
            <div>
              <label for="" class="cv__content-label">Full name</label>
              <p class="cv__fullname">VO THAI MINH TUE</p>
            </div>

            <div>
              <label for="" class="cv__content-label">Applied position</label>
              <p class="cv__applied-position">Web Front-end Developer</p>
            </div>
          </div>

        </div>

        <div class="cv__left-col__personal-info">

          <div class="cv__content-title--left">
            <span>PERSONAL INFO</span>
          </div>

          <div class="cv__left-col__personal-info__profile cv__content-wrapper">

            <p>
              <i class="fas fa-birthday-cake cv__content-icon"></i>
              <span>December 3, 1998</span>
            </p>

            <p>
              <i class="fas fa-user cv__content-icon"></i>
              <span>Male 100%</span>
            </p>

            <p>
              <i class="fas fa-phone-alt cv__content-icon"></i>
              <a href="tel:+84932659211">+84 932 659 211</a>
            </p>

            <p>
              <i class="fas fa-envelope cv__content-icon"></i>
              <span>tuevo.it@gmail.com</span>
            </p>

            <p>
              <i class="fab fa-facebook-square cv__content-icon--fb"></i>
              <a href="https://fb.com/tuevo0312" target="_blank">fb.com/tuevo0312</a>
            </p>

            <p>
              <i class="fas fa-map-marker-alt cv__content-icon--location"></i>
              <span>495 Nguyen Van Luong, Dist. 6, Ho Chi Minh City, Vietnam.</span>
            </p>

          </div>

        </div>

        <div class="cv__left-col__personality">

          <div class="cv__content-title--left">
            <span>PERSONALITY</span>
          </div>

          <ul>
            <li>Social oriented</li>
            <li>Friendly</li>
            <li>Collaborable</li>
            <li>Optimistic</li>
            <li>Comprehensive</li>
          </ul>

        </div>

        <div class="cv__left-col__soft-skills">

          <div class="cv__content-title--left">
            <span>SOFT SKILLS</span>
          </div>

          <ul>
            <li>English communication</li>
            <li>Teamwork</li>
            <li>Critical thinking</li>
            <li>Self-learning</li>
          </ul>
        </div>

      </div>

      <div class="cv__right-col">

        <div class="cv__right-col__education">

          <div class="cv__content-title--right">
            <i
              class="fas fa-graduation-cap cv__content-title--right__icon cv__content-title--right__icon--education"></i>
            <span class="cv__content-title--right__text--education">EDUCATION</span>
          </div>

          <div class="cv__right-col__education__content cv__content-wrapper">
            <p class="cv__school-name">VNUHCM - UNIVERSITY OF SCIENCE</p>
            <table class="cv__table">
              <tbody>
                <tr>
                  <td>Faculty</td>
                  <td>Information Technology</td>
                </tr>
                <tr>
                  <td>Major</td>
                  <td>Information Technology</td>
                </tr>
                <tr>
                  <td>GPA</td>
                  <td><strong>8.25/10.00</strong></td>
                </tr>
                <tr>
                  <td>Awards</td>
                  <td>Top 10 of The Highest-GPA Students of Faculty in Semester 2017-2018</td>
                </tr>
                <tr>
                  <td>Certifications</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div class="cv__right-col__technical-skills">

          <div class="cv__content-title--right">
            <i
              class="fas fa-drafting-compass cv__content-title--right__icon cv__content-title--right__icon--technical"></i>
            <span class="cv__content-title--right__text--technical">TECHNICAL SKILLS</span>
          </div>

          <div class="cv__right-col__tecnical-skills__content cv__content-wrapper">

            <table class="cv__table">
              <tbody>
                <tr>
                  <td>
                    <i class="fab fa-html5 cv__html5-icon"></i>HTML5</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-css3-alt cv__css3-icon"></i>CSS3</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-sass cv__scss-icon"></i>SCSS/SASS</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-bootstrap cv__bootstrap-icon"></i>Bootstrap</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="cv__jquery-icon" src="assets/images/jquery.png" alt="">JQuery</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-react cv__react-icon"></i>ReactJS</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-angular cv__angular-icon"></i>Angular</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-node-js cv__nodejs-icon"></i>NodeJS</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="cv__mysql-icon" src="assets/images/mysql.png" alt="">MySQL
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fab fa-envira cv__mongodb-icon"></i>MongoDB</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div class="cv__right-col__expericence">
          <div class="cv__content-title--right">
            <i class="fas fa-star cv__content-title--right__icon cv__content-title--right__icon--experience"></i>
            <span class="cv__content-title--right__text--experience">EXPERIENCE</span>
          </div>

          <div class="cv__right-col__expericence__content cv__content-wrapper--experience">

            <div class="cv__right-col__expericence__item">
              <div class="cv__working-time-line">
                <div class="cv__working-time-line__time">6 months</div>
                <div class="cv__working-time-line__line"></div>
              </div>
              <div class="cv__working-job">
                <p>Worked as a <strong>Web Front-end Developer</strong> at <strong>APPNET Digital
                    Marketing
                    Agency
                </p>

                <ul>
                  <li><a href="https://x2.com.vn" target="_blank">Công Cụ Chống Click Tặc - Giảm
                      Đến 50% Phí Quảng Cáo Google Ads </a>
                    <p class="cv__project-skills">
                      <span class="cv__technical-label">HTML</span><span class="cv__technical-label">SCSS</span><span
                        class="cv__technical-label">Angular</span><span class="cv__technical-label">NodeJS</span><span
                        class="cv__technical-label">MongoDB</span>
                    </p>
                  </li>
                  <li><a href="https://admin.x2.com.vn" target="_blank">Công Cụ Chống Click Tặc - Admin</a>
                    <p class="cv__project-skills">
                      <span class="cv__technical-label">HTML</span><span class="cv__technical-label">SCSS</span><span
                        class="cv__technical-label">ReactJS</span><span class="cv__technical-label">NodeJS</span><span
                        class="cv__technical-label">MongoDB</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="cv__right-col__expericence__item">
              <div class="cv__working-time-line">
                <div class="cv__working-time-line__time">3 months</div>
                <div class="cv__working-time-line__line"></div>
              </div>
              <div class="cv__working-job">
                <p>
                  Worked as a <strong>Freelancer UI Designer</strong>
                </p>

                <ul>
                  <li><a href="http://thaydoivanmenh.top" target="_blank">Thay Đổi Vận Mệnh</a>
                    <p class="cv__project-skills">
                      <span class="cv__technical-label">HTML</span><span class="cv__technical-label">CSS</span><span
                        class="cv__technical-label">JQuery</span><span class="cv__technical-label">NodeJS</span><span
                        class="cv__technical-label">Postgres</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="cv__right-col__expericence__item">
              <div class="cv__working-time-line">
                <div class="cv__working-time-line__time">3 years</div>
                <div class="cv__working-time-line__line"></div>
              </div>
              <div class="cv__working-job">
                <p>
                  Studied at <strong>VNUHCM - University of Science</strong>
                </p>

                <ul>
                  <li><a href="https://wingscinema.herokuapp.com" target="_blank">Booking Cinema Ticket</a>
                    <p class="cv__project-skills">
                      <span class="cv__technical-label">HTML</span><span class="cv__technical-label">CSS</span><span
                        class="cv__technical-label">JQuery</span><span class="cv__technical-label">NodeJS</span><span
                        class="cv__technical-label">Postgres</span>
                    </p>
                  </li>
                  <li><a href="https://tuevo.daonguyenvu.com/DACK/Nhom06" target="_blank" rel="noopener noreferrer">Mini
                      Social Network</a>

                    <p class="cv__project-skills">
                      <span class="cv__technical-label">HTML</span><span class="cv__technical-label">CSS</span><span
                        class="cv__technical-label">Vanilla JS</span><span class="cv__technical-label">PHP</span><span
                        class="cv__technical-label">MySQL</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="cv__left-col__activities">
          <div class="cv__content-title--right">
            <i class="fas fa-running cv__content-title--right__icon cv__content-title--right__icon--activities"></i>
            <span class="cv__content-title--right__text--activities">ACTIVITIES</span>
          </div>

          <div class="cv__content-wrapper--activities">
            <ul>
              <li>Attended many workshops about <strong>Technology, Techniques, The 4th Industry Revolution, AI &
                  Machine
                  Learning, Vietnam Web Summit 2019,...</strong></li>
              <li>Used to be a member of <strong>Coders.Tokyo Programming Community.</strong></li>
              <li>Used to be a member of <strong>CKIT - A Programming Club at University.</strong></li>
            </ul>
            </di>

          </div>
        </div>

        <div class="cv__right-col__interests">
          <div class="cv__content-title--right">
            <i class="fas fa-thumbs-up cv__content-title--right__icon cv__content-title--right__icon--interests"></i>
            <span class="cv__content-title--right__text--interests">INTERESTS</span>
          </div>

          <div class="cv__content-wrapper--interests">
            <ul>
              <li>UI design, editing videos and pictures.</li>
              <li>Discovering or researching about everything in life (science & technology, politics, history, cultures, religions and humanities).</li>
              <li>Help everyone know or learn about something in self ability.</li>
              <li>Visting many wonders and taking some nice pictures.</li>
              <li>Training martial arts.</li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>

</body>

</html>