<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GA Reporting</title>

  <!-- Tracking host's Client ID -->
  <meta name="google-signin-client_id" content="951825461095-ifcl1fqqmmh7ns4dicjeh6vcld1o39kq.apps.googleusercontent.com">
  
  <!-- Google Analytics Reporting API v4 -->
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">

</head>

<body>

  <h1>Hello Analytics Reporting API V4</h1>

  <!-- The Sign-in button. This will run `queryReports()` on success. -->
  <p class="g-signin2" data-onsuccess="queryReports"></p>

  <!-- The API response will be printed here. -->
  <textarea cols="80" rows="20" id="query-output"></textarea>

  <script>
    // Replace with your view ID. (Tracked website)
    var VIEW_ID = '211846372';

    // Query the API and print the results to the page.
    function queryReports() {
      gapi.client.request({
        path: '/v4/reports:batchGet',
        root: 'https://analyticsreporting.googleapis.com/',
        method: 'POST',
        body: {
          reportRequests: [
            {
              viewId: VIEW_ID,
              dateRanges: [
                {
                  startDate: '7daysAgo',
                  endDate: 'today'
                },
              ],
              metrics: [
                {
                  expression: 'ga:sessions'
                },
                {
                  expression: 'ga:users'
                },
                {
                  expression: 'ga:newUsers'
                }
              ]
            }
          ]
        }
      }).then(displayResults, console.error.bind(console));
    }

    function displayResults(response) {
      var formattedJson = JSON.stringify(response.result, null, 2);
      document.getElementById('query-output').value = formattedJson;
    }
  </script>

  <!-- Load the JavaScript API client and Sign-in library. -->
  <script src="https://apis.google.com/js/client:platform.js"></script>

</body>

</html>