<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tue Vo | Home</title>
  
  <script src="libs/jquery.min.js"></script>
  <script src="js/widget.js" id="widget-script"></script>
  <link rel="stylesheet" href="styles/index.style.css">

  <script>
    const showWidget = () => {
      $('#ccclt-widget-container').css({ display: 'flex' });
    }
  </script>

</head>

<body>
  <button onclick="showWidget()" style="position: absolute; left: 48%; top: 45%">SHOW WIDGET</button>
</body>

</html>